
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.nav-center {
    background-color: rgba(255, 255, 255, 0.4);
    /* opacity: 40%; */
    overflow: hidden;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0 50px 0 50px;
font-weight: 400;
font-size: 18px;
color: darkblue;
display: flex;
justify-content: space-between;
align-items: center;
}
.nav-links {
    list-style-type: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.container{
   text-align: center;
}
.btn {
display: inline-block;
font-size: 20px;
   border-radius: 10px;
   margin: 0 auto;
   color: blue;
   background-color: antiquewhite;
}

.color {
    color: darkblue;
}